<h2>Login Here</h2>
<form action="">
<div class="mb-3">
    <label for="FirstName" class="form-label">First Name</label>
    <input type="text" class="form-control" id="FirstName" placeholder="First Name">
  </div>
  <div class="mb-3">
    <label for="LastName" class="form-label">Last Name</label>
    <input type="text" class="form-control" id="LastName" placeholder="Last Name">
  </div>
<div class="mb-3">
    <label for="EmailAddress" class="form-label">Email address</label>
    <input type="email" class="form-control" id="EmailAddress" placeholder="name@example.com">
  </div>
  <div class="mb-3">
    <label for="Password" class="form-label">Password</label>
    <input type="password" class="form-control" id="Password" placeholder="Password">
  </div>
  <div class="mb-3">
    <label for="MobileNumber" class="form-label">Mobile</label>
    <input type="text" class="form-control" id="MobileNumber" placeholder="Mobile Number">
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>